<div class="stats">
  <%= for {filepath, %{added: a, removed: r}} <- @stats do %>
    <div id="stat-filepath-#{filepath}" class="line">
      <%= filepath %>

      <span class="plus"> +<%= a %></span>
      <span class="minus"> -<%= r %></span>
    </div>
  <% end %>
  <div class="cursor"></div>
</div>
